@tailwind base;
@tailwind components;


@layer base{
    .header-nav-item {
        @apply h-full px-8 items-center flex relative 
        uppercase font-bold bg-transparent border-0 cursor-pointer;
    }
    .header-nav-item::before {
        @apply bg-neutral-200 w-[2px] h-full max-h-full top-0 left-0 bottom-0 absolute;
        content: '';
        transform: skew(-20deg);
        
    }
}
.app-fallback {
    background-image: url(./assets/sports.png);
}
.bar-box {
    @apply border-b border-neutral-300 
}
.layout-bar-grid {
    grid-template-columns: auto 1fr;
     
}
.layout-subbar-grid {
    grid-template-columns: 1fr auto;
}





h1 {
    @apply text-4xl font-bold  text-stone-600;
}

h2 {
    @apply text-3xl font-bold  text-stone-600;
}

/* h3 {
    @apply text-2xl my-0 mx-8 text-center -mt-3 -skew-y-6;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
} */
h3 {
    @apply text-2xl
}



.buttonList {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.cart {
    grid-template-rows: auto 1fr auto;
}

.cart-line {
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.single-product {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    align-items: top;
}

.line-product-details button{
    margin:0;
}
.button {
    @apply bg-stone-800 text-white py-3 px-5 text-sm w-48 m-0;
}
.variant-option-box {
    opacity: 0;
   
   
}
/* .variant-option-label {
    width: 120px;
    height: 120px;
    display: block;
   
    cursor: pointer;
} */


.product-selected img {
    @apply border-red-400 border-4 sepia scale-100 border-spacing-6 shadow-red-500 transition-all;
}


@tailwind utilities;

