@tailwind base;
@tailwind components;
.app-fallback {
    background-image: url(./assets/sports.png);
}
.bar-box {
    @apply border-b border-black 
}
.layout-bar-grid {
    grid-template-columns: auto 1fr;   
}
.layout-subbar-grid {
    grid-template-columns: 1fr auto;
}

h1 {
    @apply text-4xl font-bold mt-4 my-12 text-stone-600;
}

h2 {
    @apply text-3xl font-bold mt-4 my-12 text-stone-600;
}

/* h3 {
    @apply text-2xl my-0 mx-8 text-center -mt-3 -skew-y-6;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
} */
h3 {
    @apply text-2xl
}

.buttonList {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.cart {
    grid-template-rows: auto 1fr auto;
}

.cart-line {
    grid-template-columns: auto 1fr auto;
}
.single-product {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    align-items: top;
}

.line-product-details button{
    margin:0;
}
.button {
    @apply bg-stone-800 text-white py-3 px-5 text-sm w-48 m-0;
}
@tailwind utilities;

